
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
	<div style="width:62%; float:right;">
		<h1 class="text-center">Thank You Sir</h1>
		<br />

		<div>
			<a href="http://localhost:2711/Suppliers/Home" style="text-decoration:none;padding: 6px;border-radius: 15px 15px;color:white;background: blue;font-size:19px;">Continue to Shopping</a>
		</div>
	</div>

	<div class="btn-group bg-primary">

		<div>
			<a href="http://localhost:2711/Productiteams/Dashboard" style="text-decoration: none;padding: 6px;color: white;background: red;font-size: 19px;">
				
				Check Your Bonus !
			</a>
		</div>
	</div>
</body>
</html>
